img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.fs-7 {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    font-weight: 700;
}

.align-sub {
    vertical-align: sub !important;
}

.btn-accent:hover {
    background: $accent-300;
    border-color: $accent-300;
}

.input-group-lg .form-search {
    background: #fff;
    border-radius: 50px;
    padding: .75rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid $gray-200;

    &+button {
        background: #fff;
        border: 1px solid $gray-200;
        border-left: none;
        border-radius: 50px;
        padding: .75rem 1.25rem;
        height: 50px;
        line-height: 1;

        &:hover {
            border: 1px solid $gray-200;
            border-left: none;
        }
    }
}

.w-lg-fc {
    @media (min-width: 992px) {
        width: fit-content !important;
    }
}

.btn-lg {
    height: 56px;

    @media (max-width: 768px) {
        padding: .75rem;
        font-size: 1rem;
        line-height: 1.2;
    }

    .material-symbols-outlined {
        line-height: 1;
    }
}

.btn {
    letter-spacing: .1em;
    width: fit-content;
}

.lp-1 {
    letter-spacing: .1em;
}

.lp-2 {
    letter-spacing: .05em;
}

.swiper-pagination {
    width: 232px;
    display: flex;
    justify-content: space-between;

    &::after {
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background: $gray-400;
        bottom: 15px;
        transform: translateX(76px);
    }
}

.swiper-prev, .swiper-next {
    border: 1px solid $gray-400;
    color: $gray-400;
    padding: .25rem 1rem;
}

.swiper-navigation {
    transform: translateY(-56px);

    @include desktop-lg {
        transform: unset;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.swiper-pagination {
    position: static;
}