<section class="bg-primary">
  <div class="container d-flex justify-content-between">
    <h3 class="fs-2 fw-bold">想看什麼主題由你決定！</h3>
    <div class="d-flex flex-column align-items-end">
      <h4 class="mb-3 fw-semibold">歡迎投稿與我們分享</h4>
      <button class="btn btn-lg btn-accent text-white">聯絡我們</button>
    </div>
  </div>
</section>
<div class="container">
  <hr class="m-0">
  <p class="text-center my-5 lp-2 text-primary-400">©Vivre 2024 All right Reserved</p>
</div>