section {
  padding: 80px 0;

  @include pad {
    padding: 48px 0;
  }
}

.banner {
  height: 621px;
  padding: 61px;
  background: url('../images/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  
  @include pad {
    height: 551px;
    padding: 0;
  }
  
  @include mobile {
    background: url('../images/banner-sm.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  h2 {
    @include mobile {
      font-size: 28px;
    }
  }
}

.theme .card img {
  border-radius: 20px 0 20px;
}

.article .swiper-slide .card {
  border-bottom: 1px solid $gray-500;

  img {
    height: 192px;
    object-fit: cover;
  }
}

.promotion .container {
  position: relative;

  ul {
    list-style: none;
    
    li {
      font-weight: 600;
      line-height: 1.5;
      display: flex;

      i {
        font-size: 24px;
        line-height: 1;
      }
    }
  }

  .bg-1 {
    position: absolute;
    width: 217px;
    bottom: -88px;
    left: 0;
  }

  .bg-2 {
    position: absolute;
    width: 300px;
    bottom: -88px;
    right: 0;

    @include mobile {
      width: 160px;
      right: -48px;
      bottom: -56px;
    }
  }
}

.everybody .tab-content {
  padding: 40px;
}

.everybody .list-group {
  list-style: disc;
}

// 品味生活
.lifestyle h3 {
  @include mobile {
    font-size: 40px !important;
  }
}

.lifestyle .card {
  img {
    height: 192px;
    object-fit: cover;
  }

  h5 {
    @include mobile {
      font-size: 1rem;
      font-weight: 700;
    }
  }

  li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

// subscription
.sub-swiper .swiper-wrapper {
  display: flex;
  flex-wrap: wrap;

  .swiper-slide {
    width: 50%;
    padding: 20px 12px;

    @include mobile {
      width: 100%;
    }
  }

  .swiper-slide:nth-child(1),
  .swiper-slide:nth-child(3) {
    transform: translateY(32px);

    @include pad {
      transform: unset;
    }
  }

  .swiper-slide:nth-child(2),
  .swiper-slide:nth-child(4) {
    transform: translateY(-32px);

    @include pad {
      transform: unset;
    }
  }
}